includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
    level: 6
    excludePaths:
        - app/Modules/*/Domain/**  # vacío hasta el paso 1.1
